*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c4c4c4;
}
.cabecalho{
    width: -webkit-fill-available;
    height:100px;
    background-color: #000000;
    box-shadow: 0 10px 20px black;

}


.titulo{
    display: flex;
    justify-content: center;
    width:100%;
    float:left;
    color:white;
    margin-top:25px;
}

.tit{
    font-family: Arial, Helvetica, sans-serif;
}

pre{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo{
    float:left;
    margin-left:350px;
    margin-top:00px;
    width:850px;
    height:650px;
    background-color: #262626;
    box-shadow: 10px 10px 20px black;
}
.titobj{
    margin-top:25px;
    margin-left:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;
}
.obj{
    margin-top:25px;
    margin-left: 35px;
    margin-right:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align:justify;
    color:white;
}


.rodape {
    float:left;
    margin-top:25px;
    width: 100%;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}